[Desktop Entry]
Type=Application
Categories=Network
Name=Anonsurf
Comment=darknet
Exec=/opt/anonsurf/anon.sh %f
Icon=/opt/anonsurf/anon/anon.png 
Terminal=false
