[Desktop Entry]
Type=Application
Categories=Network
Name=Uninstall Anonsurf
Comment=darknet
Exec=/opt/anonsurf/remove.sh %f
Icon=/usr/share/icons/anon.png 
Terminal=false
