[Desktop Entry]
Type=Application
Categories=Network
Encoding=UTF-8
Name=Uninstall Anonsurf
Comment=darknet
Exec=/opt/anonsurf/remove.sh %f
Icon=/opt/anonsurf/anon/anon.png 
Terminal=false
