[Desktop Entry]
Type=Application
Categories=Network
Name=Anonsurf
Comment=darknet
Exec=/usr/bin/Anon %f
Icon=/usr/share/pixmaps/anon.png 
Terminal=false
