# Contents of /etc/systemd/system/anonsurf.service
[Unit]
Description=Linux AnonSurf
After=network.target

[Service]
Type=simple
ExecStart=/etc/init.d/anonsurf start
ExecReload=/etc/init.d/anonsurf restart
ExecStop=/etc/init.d/anonsurf stop
RemainAfterExit=True


[Install]
WantedBy=multi-user.target
