# Contents of /etc/systemd/system/anonsurf.service
[Unit]
Description=Linux AnonSurf
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/Anon start
ExecReload=/usr/bin/Anon restart
ExecStop=/usr/bin/Anon stop
RemainAfterExit=True


[Install]
WantedBy=multi-user.target
