[Desktop Entry]
Type=Application
Categories=Network
Name=Uninstall Anonsurf
Comment=darknet
Exec=/usr/bin/UnAnonsurf  %f
Icon=/usr/share/pixmaps/anon.png 
Terminal=false
